body{
  background-color: green;
}
h1{
    text-align: center;
}
button{
    align-items: center;
}
.deal-button-contain{
  display: flex;
  justify-content: center;
}

.deal-button{
  display: flex;
  justify-content: center;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ee2020;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #ac0a0a;
  font-weight: 700;
  color: white;
  line-height: 26px;


}
.hit-stand-buttons{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;

}
.hit-button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ee2020;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

.stand-button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ee2020;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

.reset-button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ee2020;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}


.dealer-hand,
.player-hand {
  display: flex;
  align-items: center;
  flex-direction: column; 
  gap: 10px; 
  width: auto;
}

.dealer-hand h2,
.player-hand h2 {
  margin-bottom: 0; 
}

.dealer-cards{
    display: flex;
    flex-direction: row; 
    gap: 10px;
    
}
.player-cards{
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

.dealer-hand img,
.player-hand img {
  display: flex;
  flex-direction: row; 
  width: 100px; 
  height: auto; 
  
}

.alert{
  text-align: center;
}


.bets{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0;
}
.bets p {
  font-size: medium;
  font-weight: bolder;
  align-self: center;
}
.bet-amount{
  display: flex;
  padding: 10px;
}
.bet-input{
  align-self: center;
  padding-left: 3px;
}
.bet-button{
  padding-left: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ee2020;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

