
/* From nav- nav-links = Desktop */
.navbar{
    background-color: rgb(191, 42, 42);
    height: auto;
    width: 100%;
    display: flex;
    
    
}

.navbar h1{
    padding-left: 5px;
}

.nav-links a{
   display: inline-block;
   padding: 10px;
   font-size: large;
   font-weight: bolder;
   text-decoration: none;
   color: white;
   

}
.nav-links{
    margin-left: auto;
   
}
.nav-links a :hover{
    background-color: green
    
    
 }
 @media screen and (max-width: 450px){
    
    
    .navbar{
        background-color: rgb(191, 42, 42);
        justify-content: center;
        width: 100%;
    }
    
    
    .nav-links{
        display: none;
        
        
    
    }
  
  }


